<!DOCTYPE html>
<html style="font-size: 16px;">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Body Facts</title>
    <link rel="stylesheet" href="/css/nicepage.css" media="screen">
    <link rel="stylesheet" href="/css/body.css" media="screen">
    <script class="u-script" type="text/javascript" src="/js/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="/js/nicepage.js" defer=""></script>
    <meta name="generator" content="Nicepage 3.12.1, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    
    
    
    
    
    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "",
		"url": "index.html",
		"logo": "images/default-logo.png"
}</script>
    <meta property="og:title" content="Home">
    <meta property="og:type" content="website">
    <meta name="theme-color" content="#478ac9">
    <link rel="canonical" href="index.html">
    <meta property="og:url" content="index.html">
  </head>
  <body class="u-body">
    <header class="u-clearfix u-header u-header" id="sec-4bf4"></header>
    <div class="topnav" >
      <img src="/img/LOGONEW.png" style="height: 70px;">
      <!--<a href="/logout"><button class="btn btn-danger" style=" float:right; margin-top: -1px; cursor: pointer; margin-right: 25px; background-color: rgb(24, 74, 121); color: cornsilk; border: none; outline: none; height:23px;">LOGOUT</button></a>-->
      <div class="dropdown">
          <button class="dropbtn" style="padding-right: 70px; padding-top: 26px;"><%= name %>
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="/profile">Profile</a>
            <a href="/bmi">BMI</a>
            <a href="/delete">Delete Account</a>
            <a href="/logout  ">Logout</a>
          </div>
      </div>
      <div class="dropdown">
          <button class="dropbtn" style="padding-top: 26px;">FEATURES
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="/asmr/main">ASMR</a>
            <a href="/bodyfacts">BODY FACTS</a>
            <a href="/Homeremedy">HOME REMEDY</a>
            <a href="/everyday">YOGA</a>
            <a href="/covidtracker">COVID-19 TRACKER</a>
            <a href="/Vaccination_centre">VACCINATION CENTRE</a>
          </div>
      </div>
      <a href="/special">DOCTOR</a>
      <a href="/predict">PREDICTION</a>
      <a href="/home">HOME</a>
    </div>
    <section class="u-clearfix u-grey-10 u-section-1" id="sec-4950">
      <h1 style="text-align: center;background-color: #e5e5e5; padding-top: 50px; ">Facts About Your Body</h1>
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1" style="margin-top: -30px;">
        <div class="u-list u-list-1">
          <div class="u-repeater u-repeater-1" style="margin-bottom: -20px;">
            <div class="u-container-style u-list-item u-repeater-item u-video-cover u-white">
              <div class="u-container-layout u-similar-container u-container-layout-1">
                <h3 class="u-text u-text-default u-text-1">1</h3>
                <div class="u-border-4 u-border-palette-3-base u-expanded-width u-line u-line-horizontal u-line-1"></div>
                <img alt="" class="u-expanded-width-lg u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-image u-image-default u-image-1" data-image-width="2000" data-image-height="1333" src="/img/adrenal.gif">
                <p class="u-text u-text-2">Blushing is caused by a rush of adrenaline.</p>
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item u-video-cover u-white u-list-item-2">
              <div class="u-container-layout u-similar-container u-container-layout-2">
                <h3 class="u-text u-text-default u-text-3">2</h3>
                <div class="u-border-4 u-border-palette-3-base u-expanded-width u-line u-line-horizontal u-line-2"></div>
                <img alt="" class="u-expanded-width-lg u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-image u-image-default u-image-2" data-image-width="2000" data-image-height="1333" style="width: 205px;" src="/img/appleandbanana.gif">
                <p class="u-text u-text-4">The fragrance of apples and bananas can help a person to lose weight.</p>
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item u-video-cover u-white u-list-item-3">
              <div class="u-container-layout u-similar-container u-container-layout-3">
                <h3 class="u-text u-text-default u-text-5">3</h3>
                <div class="u-border-4 u-border-palette-3-base u-expanded-width u-line u-line-horizontal u-line-3"></div>
                <img alt="" class="u-expanded-width-lg u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-image u-image-default u-image-3" data-image-width="2000" data-image-height="1333" src="/img/bacteria.gif">
                <p class="u-text u-text-6">There are more than 100 different viruses which cause a cold.</p>
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item u-video-cover u-white u-list-item-4">
              <div class="u-container-layout u-similar-container u-container-layout-4">
                <h3 class="u-text u-text-default u-text-7">4</h3>
                <div class="u-border-4 u-border-palette-3-base u-expanded-width u-line u-line-horizontal u-line-4"></div>
                <img alt="" class="u-expanded-width-lg u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-image u-image-default u-image-4" data-image-width="2000" data-image-height="1333" src="/img/blood_cell.gif">
                <p class="u-text u-text-8">Every 3-4 seconds, around 50,000 cells in your body will die and be replaced by new ones.</p>
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item u-video-cover u-white u-list-item-5">
              <div class="u-container-layout u-similar-container u-container-layout-5">
                <h3 class="u-text u-text-default u-text-9">5</h3>
                <div class="u-border-4 u-border-palette-3-base u-expanded-width u-line u-line-horizontal u-line-5"></div>
                <img alt="" class="u-expanded-width-lg u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-image u-image-default u-image-5" data-image-width="2000" data-image-height="1333" src="/img/blueeyes.gif">
                <p class="u-text u-text-10">People with blue eyes are more sensitive to pain than others.</p>
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item u-video-cover u-white u-list-item-6">
              <div class="u-container-layout u-similar-container u-container-layout-6">
                <h3 class="u-text u-text-default u-text-11">6</h3>
                <div class="u-border-4 u-border-palette-3-base u-expanded-width u-line u-line-horizontal u-line-6"></div>
                <img alt="" class="u-expanded-width-lg u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-image u-image-default u-image-6" data-image-width="2000" data-image-height="1333" src="/img/brain.gif">
                <p class="u-text u-text-12">In time your brain has a harder time with long-term memories.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-grey-10 u-section-2" id="carousel_86e0">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-list u-list-1">
          <div class="u-repeater u-repeater-1" >
            <div class="u-container-style u-list-item u-repeater-item u-video-cover u-white">
              <div class="u-container-layout u-similar-container u-container-layout-1">
                <h3 class="u-text u-text-1">
                  <span style="font-weight: 700;">7 <span style="font-weight: 400;">
                      <span style="font-weight: 700;"></span>
                    </span>
                  </span>
                  <span style="font-weight: 700;"></span>
                </h3>
                <div class="u-border-4 u-border-palette-3-base u-expanded-width u-line u-line-horizontal u-line-1"></div>
                <img alt="" class="u-expanded-width-lg u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-image u-image-default u-image-1" data-image-width="2000" data-image-height="1333" style="width: 120px;" src="/img/cry.gif">
                <p class="u-text u-text-2">Humans are the only animals that cry when upset.</p>
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item u-video-cover u-white u-list-item-2">
              <div class="u-container-layout u-similar-container u-container-layout-2">
                <h3 class="u-text u-text-3">8</h3>
                <div class="u-border-4 u-border-palette-3-base u-expanded-width u-line u-line-horizontal u-line-2"></div>
                <img alt="" class="u-expanded-width-lg u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-image u-image-default u-image-2" data-image-width="2000" data-image-height="1333" src="/img/Can_Color_Blind_People_See_More_Colors_When_They_Take_Hallucinogenic_Drugs.gif">
                <p class="u-text u-text-4">Many more boys are color blind than girls are.</p>
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item u-video-cover u-white u-list-item-3">
              <div class="u-container-layout u-similar-container u-container-layout-3">
                <h3 class="u-text u-text-5">9</h3>
                <div class="u-border-4 u-border-palette-3-base u-expanded-width u-line u-line-horizontal u-line-3"></div>
                <img alt="" class="u-expanded-width-lg u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-image u-image-default u-image-3" data-image-width="2000" data-image-height="1333" src="/img/eye-blinking.gif">
                <p class="u-text u-text-6">As well as having faster heart beats, women blink twice as much as men as well.</p>
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item u-video-cover u-white u-list-item-4">
              <div class="u-container-layout u-similar-container u-container-layout-4">
                <h3 class="u-text u-text-7">10</h3>
                <div class="u-border-4 u-border-palette-3-base u-expanded-width u-line u-line-horizontal u-line-4"></div>
                <img alt="" class="u-expanded-width-lg u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-image u-image-default u-image-4" data-image-width="2000" data-image-height="1333" src="/img/eyeball.gif">
                <p class="u-text u-text-8">Your eyeballs are actually part of your brain.</p>
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item u-video-cover u-white u-list-item-5">
              <div class="u-container-layout u-similar-container u-container-layout-5">
                <h3 class="u-text u-text-9">11</h3>
                <div class="u-border-4 u-border-palette-3-base u-expanded-width u-line u-line-horizontal u-line-5"></div>
                <img alt="" class="u-expanded-width-lg u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-image u-image-default u-image-5" data-image-width="2000" data-image-height="1333" src="/img/eyelashes.gif">
                <p class="u-text u-text-10">Eyelashes last about 150 days.</p>
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item u-video-cover u-white u-list-item-6">
              <div class="u-container-layout u-similar-container u-container-layout-6">
                <h3 class="u-text u-text-11">12</h3>
                <div class="u-border-4 u-border-palette-3-base u-expanded-width u-line u-line-horizontal u-line-6"></div>
                <img alt="" class="u-expanded-width-lg u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-image u-image-default u-image-6" data-image-width="2000" data-image-height="1333" src="/img/ear.gif">
                <p class="u-text u-text-12">The smallest bone in your body is in your ears.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-grey-10 u-section-3" id="carousel_de9a">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-list u-list-1">
          <div class="u-repeater u-repeater-1" style="margin-top: -30px;">
            <div class="u-container-style u-list-item u-repeater-item u-video-cover u-white">
              <div class="u-container-layout u-similar-container u-container-layout-1">
                <h3 class="u-text u-text-default u-text-1">13</h3>
                <div class="u-border-4 u-border-palette-3-base u-expanded-width u-line u-line-horizontal u-line-1"></div>
                <img alt="" class="u-expanded-width-lg u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-image u-image-default u-image-1" data-image-width="2000" data-image-height="1333" src="/img/hair.gif">
                <p class="u-text u-text-2">Hair grows fast—about 6 inches per year. The only thing in the body that grows faster is bone marrow.</p>
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item u-video-cover u-white u-list-item-2">
              <div class="u-container-layout u-similar-container u-container-layout-2">
                <h3 class="u-text u-text-default u-text-3">14</h3>
                <div class="u-border-4 u-border-palette-3-base u-expanded-width u-line u-line-horizontal u-line-2"></div>
                <img alt="" class="u-expanded-width-lg u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-image u-image-default u-image-2" data-image-width="2000" data-image-height="1333" src="/img/heart.gif">
                <p class="u-text u-text-4">During the average lifetime, your heart will pump a grand total of 182 million liters of blood.<p>
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item u-video-cover u-white u-list-item-3">
              <div class="u-container-layout u-similar-container u-container-layout-3">
                <h3 class="u-text u-text-default u-text-5">15</h3>
                <div class="u-border-4 u-border-palette-3-base u-expanded-width u-line u-line-horizontal u-line-3"></div>
                <img alt="" class="u-expanded-width-lg u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-image u-image-default u-image-3" data-image-width="2000" data-image-height="1333" src="/img/human.gif">
                <p class="u-text u-text-6">On a genetic level, all human beings are more than 99 percent identical.</p>
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item u-video-cover u-white u-list-item-4">
              <div class="u-container-layout u-similar-container u-container-layout-4">
                <h3 class="u-text u-text-default u-text-7">16</h3>
                <div class="u-border-4 u-border-palette-3-base u-expanded-width u-line u-line-horizontal u-line-4"></div>
                <img alt="" class="u-expanded-width-lg u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-image u-image-default u-image-4" data-image-width="2000" data-image-height="1333" src="/img/heiight.gif">
                <p class="u-text u-text-8">You are taller in the morning than you are at night.</p>
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item u-video-cover u-white u-list-item-5">
              <div class="u-container-layout u-similar-container u-container-layout-5">
                <h3 class="u-text u-text-default u-text-9">17</h3>
                <div class="u-border-4 u-border-palette-3-base u-expanded-width u-line u-line-horizontal u-line-5"></div>
                <img alt="" class="u-expanded-width-lg u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-image u-image-default u-image-5" data-image-width="2000" data-image-height="1333" src="/img/knuckles.gif">
                <p class="u-text u-text-10">The satisfying sound of cracking your knuckles comes from gas bubbles bursting in your joints.<p>
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item u-video-cover u-white u-list-item-6">
              <div class="u-container-layout u-similar-container u-container-layout-6">
                <h3 class="u-text u-text-default u-text-11">18</h3>
                <div class="u-border-4 u-border-palette-3-base u-expanded-width u-line u-line-horizontal u-line-6"></div>
                <img alt="" class="u-expanded-width-lg u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-image u-image-default u-image-6" data-image-width="2000" data-image-height="1333" src="/img/left handed.gif">
                <p class="u-text u-text-12">Only 7% of people are left-handed.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-grey-10 u-section-4" id="sec-6efc">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-list u-list-1">
          <div class="u-repeater u-repeater-1" style="margin-top: -80px;">
            <div class="u-container-style u-list-item u-repeater-item u-video-cover u-white">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-1">
                <h3 class="u-text u-text-default u-text-1">19</h3>
                <div class="u-border-4 u-border-palette-3-base u-expanded-width u-line u-line-horizontal u-line-1"></div>
                <img alt="" class="u-expanded-width-lg u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-image u-image-default u-image-1" data-image-width="2000" data-image-height="1333" src="/img/lungs.gif">
                <p class="u-text u-text-2">Healthy lungs are pink lungs.</p>
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item u-video-cover u-white u-list-item-2">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-2">
                <h3 class="u-text u-text-default u-text-3">20</h3>
                <div class="u-border-4 u-border-palette-3-base u-expanded-width u-line u-line-horizontal u-line-2"></div>
                <img alt="" class="u-expanded-width-lg u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-image u-image-default u-image-2" data-image-width="2000" data-image-height="1333" src="/img/muscle.gif">
                <p class="u-text u-text-4">Your body has more than 600 muscles.</p>
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item u-video-cover u-white u-list-item-3">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-3">
                <h3 class="u-text u-text-default u-text-5">21</h3>
                <div class="u-border-4 u-border-palette-3-base u-expanded-width u-line u-line-horizontal u-line-3"></div>
                <img alt="" class="u-expanded-width-lg u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-image u-image-default u-image-3" data-image-width="2000" data-image-height="1333" style="width: 207px;padding-left: 70px;" src="/img/nose.gif">
                <p class="u-text u-text-6">Scientists estimate that the nose can recognise a trillion different scents!</p>
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item u-video-cover u-white u-list-item-4">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-4">
                <h3 class="u-text u-text-default u-text-7">22</h3>
                <div class="u-border-4 u-border-palette-3-base u-expanded-width u-line u-line-horizontal u-line-4"></div>
                <img alt="" class="u-expanded-width-lg u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-image u-image-default u-image-4" data-image-width="2000" data-image-height="1333" src="/img/skin.gif">
                <p class="u-text u-text-8">Skin is the body’s largest organ and can comprise 15 percent of a person’s total weight.</p>
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item u-video-cover u-white u-list-item-5">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-5">
                <h3 class="u-text u-text-default u-text-9">23</h3>
                <div class="u-border-4 u-border-palette-3-base u-expanded-width u-line u-line-horizontal u-line-5"></div>
                <img alt="" class="u-expanded-width-lg u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-image u-image-default u-image-5" data-image-width="2000" data-image-height="1333" src="/img/string bones.gif">
                <p class="u-text u-text-10">Bones are 4 times stronger than concrete.</p>
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item u-video-cover u-white u-list-item-6">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-6">
                <h3 class="u-text u-text-default u-text-11">24</h3>
                <div class="u-border-4 u-border-palette-3-base u-expanded-width u-line u-line-horizontal u-line-6"></div>
                <img alt="" class="u-expanded-width-lg u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-image u-image-default u-image-6" data-image-width="2000" data-image-height="1333" src="/img/sneeze.gif">
                <p class="u-text u-text-12">It is impossible to sneeze with your eyes open.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <section class="u-clearfix u-grey-10 u-section-2" id="carousel_86e0">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1"  style="margin-bottom: 50px;">
        <div class="u-list u-list-1">
          <div class="u-repeater u-repeater-1" style="margin-top: -80px;">
            <div class="u-container-style u-list-item u-repeater-item u-video-cover u-white">
              <div class="u-container-layout u-similar-container u-container-layout-1">
                <h3 class="u-text u-text-1">
                  <span style="font-weight: 700;">25 <span style="font-weight: 400;">
                      <span style="font-weight: 700;"></span>
                    </span>
                  </span>
                  <span style="font-weight: 700;"></span>
                </h3>
                <div class="u-border-4 u-border-palette-3-base u-expanded-width u-line u-line-horizontal u-line-1"></div>
                <img alt="" class="u-expanded-width-lg u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-image u-image-default u-image-1" data-image-width="2000" data-image-height="1333" src="/img/sleep.gif">
                <p class="u-text u-text-2">A person would die quicker from a total lack of sleep. Death would occur after ten days without sleep.</p>
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item u-video-cover u-white u-list-item-2">
              <div class="u-container-layout u-similar-container u-container-layout-2">
                <h3 class="u-text u-text-3">26</h3>
                <div class="u-border-4 u-border-palette-3-base u-expanded-width u-line u-line-horizontal u-line-2"></div>
                <img alt="" class="u-expanded-width-lg u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-image u-image-default u-image-2" data-image-width="2000" data-image-height="1333" src="/img/saliva.gif">
                <p class="u-text u-text-4">Your mouth produces about one litre of saliva each day!</p>
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item u-video-cover u-white u-list-item-3">
              <div class="u-container-layout u-similar-container u-container-layout-3">
                <h3 class="u-text u-text-5">27</h3>
                <div class="u-border-4 u-border-palette-3-base u-expanded-width u-line u-line-horizontal u-line-3"></div>
                <img alt="" class="u-expanded-width-lg u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-image u-image-default u-image-3" data-image-width="2000" data-image-height="1333" src="/img/strong teeth.gif">
                <p class="u-text u-text-6">Human teeth are just as strong as shark teeth.</p>
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item u-video-cover u-white u-list-item-4">
              <div class="u-container-layout u-similar-container u-container-layout-4">
                <h3 class="u-text u-text-7">28</h3>
                <div class="u-border-4 u-border-palette-3-base u-expanded-width u-line u-line-horizontal u-line-4"></div>
                <img alt="" class="u-expanded-width-lg u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-image u-image-default u-image-4" data-image-width="2000" data-image-height="1333" style="width: 200px;" src="/img/thumb.gif">
                <p class="u-text u-text-8">Thumbs have their own pulse.</p>
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item u-video-cover u-white u-list-item-5">
              <div class="u-container-layout u-similar-container u-container-layout-5">
                <h3 class="u-text u-text-9">29</h3>
                <div class="u-border-4 u-border-palette-3-base u-expanded-width u-line u-line-horizontal u-line-5"></div>
                <img alt="" class="u-expanded-width-lg u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-image u-image-default u-image-5" data-image-width="2000" data-image-height="1333" style="width: 216px;padding-left: 70px;" src="/img/taste (1).gif">
                <p class="u-text u-text-10">The average human adult has 2000-4000 taste buds.</p>
              </div>
            </div>
            <!-- <div class="u-container-style u-list-item u-repeater-item u-video-cover u-white u-list-item-6">
              <div class="u-container-layout u-similar-container u-container-layout-6">
                <h3 class="u-text u-text-11">30</h3>
                <div class="u-border-4 u-border-palette-3-base u-expanded-width u-line u-line-horizontal u-line-6"></div>
                <img alt="" class="u-expanded-width-lg u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-image u-image-default u-image-6" data-image-width="2000" data-image-height="1333" src="images/1.svg">
                <p class="u-text u-text-12">Sample text. Click to select the text box. Click again or double click to start editing the text.</p>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </section>
    

    <footer style="padding-top: -0.5% ; padding-bottom: 5.5%;">
      <div class="container pt-5 border-bottom container-feedback">
        <div class="row">
          <div class="col-md-3 col-sm-12 mb-3 text-center" style="margin-left: 1%;padding-top: 1%;">
              <img class="logofooter" src="/img/LOGOFOOTER.png" alt="logo" style="width: 314px;;">
              <div class="row feedback" style="padding-left: 37%;padding-bottom: 2.5%; margin-top: -17%;">  
                <a href="/feedback"><button type="button" class="btn btn-success" style="height: 50px;width: 100px;color: white;background-color: green;">Feedback</button></a>
            </div>
          </div>
          
          <div class="col-md-9 col-sm-12" style="display: inline-flex; padding-left: 30%; font-size: large;">
              
              <div class="col-md-3 col-sm-6 col-6 p-0 float-left mb-3"> 
              
              </div>
              
              <div class="col-md-3 col-sm-6 col-6 p-0 mb-3 float-left" style="margin-left: 25%; ">
                  <ul class="list-group" style="width:max-content;list-style-type: none;">
                      <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="/home" style="color: white;text-decoration: none;">Home</a></li>
                      <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="/home#hey" style="color: white;text-decoration: none;">FAQ</a></li>
                      <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="/home" style="color: white;text-decoration: none;">Contact Us</a></li>
    
                  </ul>
              </div>  
    
              <div class="col-md-3 col-sm-6 col-6 mb-3 p-0 float-left" style=" padding-left: 40%;">
                  <ul class="list-group"style="width:max-content;list-style-type: none;">
                      <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="/homeremedy" style="color: white;text-decoration: none;"></i>Home Remedies</a></li>
                      <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="/everyday" style="color: white;text-decoration: none;"></i>Yoga</a></li>
                      <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="/bodyfacts" style="color: white;text-decoration: none;"></i>Facts About Your Body</a></li>
                      <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="/asmr/main" style="color: white;text-decoration: none;"></i>ASMR</a></li>
                      <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="/covidtracker" style="color: white;text-decoration: none;"></i>COVID-19 Tracker</a></li>
                      <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="/Vaccination_Centre" style="color: white;text-decoration: none;"></i>Vaccination Centre</a></li>
                  </ul>
              </div>
    
              <div class="col-md-3 col-sm-6 col-6 mb-3 p-0 float-left" style=" padding-left: 40%">
                  <ul class="list-group" style="list-style-type: none; ">
                      <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                          <a href="https://www.linkedin.com/" style="color: white;text-decoration: none;"><i class="fa fa-linkedin mr-1"></i> LinkedIn</a>
                      </li>
                      <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                          <a href="https://twitter.com/" style="color: white;text-decoration: none;"><i class="fa fa-twitter mr-1"></i> Twitter</a>       
                      </li>
                      
                      <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                          <a href="https://plus.google.com/109511516185666043480" target="_blank" style="color: white;text-decoration: none;"><i class="fa fa-google-plus mr-1"></i> Google+</a>
                      
                      </li>
                      
                     
                      <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                          <a href="https://www.facebook.com/" target="_blank" style="color: white;text-decoration: none;"><i class="fa fa-facebook mr-1"></i> Facebook</a>
                      </li>
                     
              
                  </ul>
              </div>
    
          </div>
            <div class="col-md-12">
              
            </div>
    
      </div>
    </footer>

  </body>
</html>