<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/history.css">
    <title>History</title>
</head>
<body>
    <div class="topnav" >
        <img src="/img/LOGONEW.png" style="height: 70px;">
          <!--<a href="/logout"><button class="btn btn-danger" style=" float:right; margin-top: -1px; cursor: pointer; margin-right: 25px; background-color: rgb(24, 74, 121); color: cornsilk; border: none; outline: none; height:23px;">LOGOUT</button></a>-->
          <div class="dropdown">
              <button class="dropbtn" style="padding-right: 70px; padding-top: 26px;"><%= name %></button>
              <div class="dropdown-content">
                <a href="/profile">Profile</a>
                <a href="/bmi">BMI</a>
                <a href="/delete">Delete Account</a>
                <a href="/logout  ">Logout</a>
              </div>
          </div>
          <div class="dropdown">
              <button class="dropbtn" style="padding-top: 26px;">FEATURES</button>
              <div class="dropdown-content">
                <a href="/asmr/main">ASMR</a>
                <a href="/bodyfacts">BODY FACTS</a>
                <a href="/Homeremedy">HOME REMEDY</a>
                <a href="/everyday">YOGA</a>
                <a href="/covidtracker">COVID-19 TRACKER</a>
                <a href="/Vaccination_centre">VACCINATION CENTRE</a>
              </div>
          </div>
          <a href="/special">DOCTOR</a>
          <a href="/predict">PREDICTION</a>
          <a href="/home">HOME</a>
        </div>
    
    <table id="here">
        <tr>
            <th>Predicted Disease</th>
            <th>Date and time</th>
        </tr>
    </table>
        
    <footer style="padding-top: -0.5% ; padding-bottom: 5.5%;">
        <div class="container pt-5 border-bottom container-feedback">
          <div class="row">
            <div class="col-md-3 col-sm-12 mb-3 text-center" style="margin-left: 1%;padding-top: 1%;">
                <img class="logofooter" src="/img/LOGOFOOTER.png" alt="logo" style="width: 314px;;">
                <div class="row feedback" style="padding-left: 41%;padding-bottom: 2.5%; margin-top: -16%;">  
                  <a href="/feedback"><button type="button" class="btn btn-success" style="height: 50px;width: 100px;color: white;background-color: green;">Feedback</button></a>
              </div>
            </div>
            
            <div class="col-md-9 col-sm-12" style="display: inline-flex; padding-left: 30%; font-size: large;">
                
                <div class="col-md-3 col-sm-6 col-6 p-0 float-left mb-3"> 
                
                </div>
                
                <div class="col-md-3 col-sm-6 col-6 p-0 mb-3 float-left" style="margin-left: 29%; ">
                    <ul class="list-group" style="width:max-content;list-style-type: none;">
                        <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="/home" style="color: white;text-decoration: none;">Home</a></li>
                        <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="/home#hey" style="color: white;text-decoration: none;">FAQ</a></li>
                        <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="/home" style="color: white;text-decoration: none;">Contact Us</a></li>
      
                    </ul>
                </div>  
      
                <div class="col-md-3 col-sm-6 col-6 mb-3 p-0 float-left" style=" padding-left: 20%;">
                    <ul class="list-group"style="width:max-content;list-style-type: none;">
                        <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="/homeremedy" style="color: white;text-decoration: none;"></i>Home Remedies</a></li>
                        <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="/everyday" style="color: white;text-decoration: none;"></i>Yoga</a></li>
                        <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="/bodyfacts" style="color: white;text-decoration: none;"></i>Facts About Your Body</a></li>
                        <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="/asmr/main" style="color: white;text-decoration: none;"></i>ASMR</a></li>
                        <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="/covidtracker" style="color: white;text-decoration: none;"></i>COVID-19 Tracker</a></li>
                        <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="/Vaccination_Centre" style="color: white;text-decoration: none;"></i>Vaccination Centre</a></li>
                    </ul>
                </div>
      
                <div class="col-md-3 col-sm-6 col-6 mb-3 p-0 float-left" style=" padding-left: 20%">
                    <ul class="list-group" style="list-style-type: none; ">
                        <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                            <a href="https://www.linkedin.com/" style="color: white;text-decoration: none;"><i class="fa fa-linkedin mr-1"></i> LinkedIn</a>
                        </li>
                        <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                            <a href="https://twitter.com/" style="color: white;text-decoration: none;"><i class="fa fa-twitter mr-1"></i> Twitter</a>       
                        </li>
                        
                        <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                            <a href="https://plus.google.com/109511516185666043480" target="_blank" style="color: white;text-decoration: none;"><i class="fa fa-google-plus mr-1"></i> Google+</a>
                        
                        </li>
                        
                       
                        <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                            <a href="https://www.facebook.com/" target="_blank" style="color: white;text-decoration: none;"><i class="fa fa-facebook mr-1"></i> Facebook</a>
                        </li>
                       
                
                    </ul>
                </div>
      
            </div>
              <div class="col-md-12">
                
              </div>
      
        </div>
      </footer>
      <script>
          var st;
        fetch('/history',{
        method:"post",
        body:'',
            headers:{
                'Content-Type':'application/json'
            }
        }).then(res => res.json())
            .then(json =>{
                st= json.data;
                trying();
                console.log(st);
        })

        function trying(){
            /*console.log(st[0].predicted_disease);
            console.log(st[0].date_time);*/
            for(var i=0;i<st.length;i++)
            {
                var y = document.createElement("TR");
                y.setAttribute("id", i);
                document.getElementById("here").appendChild(y);

                var z = document.createElement("TD");
                var t = document.createTextNode(st[i].predicted_disease);
                z.appendChild(t);
                var z1 = document.createElement("TD");
                var t1 = document.createTextNode(st[i].date_time);
                z1.appendChild(t1);
                document.getElementById(i).appendChild(z);
                document.getElementById(i).appendChild(z1);
            }
        }
      </script>
</body>
</html>