<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="/css/login.css">
    </head>
    <body>
        <div class="wrapper">
            <div class="container">
                <img src="/img/LOGONEW.png">
              <h1>Welcome</h1>
              
              <form class="form" action="" method="POST">
                <input name="email" id="user_id" type="text" placeholder="E-mail" style="font-size: x-large;">
                <input name="upwd" id="pwd" type="password" placeholder="Password" style="font-size: x-large;">
                
                <% if (locals.login_errors) { 
                  login_errors.forEach(function(error_msg){ %>
                  <div class="alert alert-danger" role="alert"><%= error_msg %></div>
                <% });
                } %>
                <button id="login_btn" type="submit" id="login-button" style="font-size: x-large;">Login</button>
              </form>
            </div>
            <ul class="bg-bubbles">
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ul>
            <div style="position: relative;z-index:1;font-size:24px;text-align:center;margin-top:130px;" >
              <a href="/register" style="color:white;">Click Here to Register</a>
            </div> 
        </div>
  
          
        
        <script src="/js/login.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    </body>
</html>