<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style_home.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">  
    <title>Home Remedy For Backpain</title>
</head>
<body>
    <div class="topnav" >
        <img src="/img/LOGONEW.png" style="height: 70px;">
        <!--<a href="/logout"><button class="btn btn-danger" style=" float:right; margin-top: -1px; cursor: pointer; margin-right: 25px; background-color: rgb(24, 74, 121); color: cornsilk; border: none; outline: none; height:23px;">LOGOUT</button></a>-->
        <div class="dropdown">
            <button class="dropbtn" style="padding-right: 70px; padding-top: 28px;"><%= name %>
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href="/profile">Profile</a>
              <a href="/bmi">BMI</a>
              <a href="/delete">Delete Account</a>
              <a href="/logout  ">Logout</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn" style="padding-top: 28px;">FEATURES
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href="/asmr/main">ASMR</a>
              <a href="/bodyfacts">BODY FACTS</a>
              <a href="/Homeremedy">HOME REMEDY</a>
              <a href="/everyday">YOGA</a>
              <a href="/covidtracker">COVID-19 TRACKER</a>
              <a href="/Vaccination_centre">VACCINATION CENTRE</a>
            </div>
        </div>
        <a href="/special">DOCTOR</a>
        <a href="/predict">PREDICTION</a>
        <a href="/home">HOME</a>
      </div>
    
    
    <div class="heading">
        <div class="head-image" >
            <img src="/img/backx.jpg" id="img-head" height="680px" width="100%"></img>
        </div>    <!--  end of head-img divison-->

        <div class="title-heading">
             <h1>Home Remedies For Back Pain</h1>
        </div>  <!--  end of title-heading divison-->
    </div>       <!--  end of heading divison-->

    <div class="rem-def" style="text-align: center; font-size:20px;">
        <p style="text-align: left;">Back pain is one of the most common reasons people go to the doctor or miss work, and it is a leading cause of disability worldwide.Fortunately, you can take measures to prevent or relieve most back pain episodes. If prevention fails, simple home treatment and proper body mechanics often will heal your back within a few weeks and keep it functional. </p>
    </div>

    <div class="rem">
        <h2>Causes</h2>
        <div class="rem-cause">
          <ul class="rem-causes">
                <li>Excess oil production</li>
                <li> Hormonal Imbalance</li>
                <li>Diet </li>
                <li>Stress</li>
                <li>Genetics</li>
            </ul>
        </div>
    </div>   <!--  end of topics divison-->

    <div class="rem">
        <h2>Symptoms</h2>
        <div class="rem-cause">
          <ul class="rem-causes">
                <li>pain down the legs</li>
                <li>pain that reaches below the knees</li>
                <li>numbness around the anus and buttocks</li>
                <li>persistent back pain, where lying down or resting does not help</li>
                <li>a recent injury, blow or trauma to the back</li>
                <li>fever</li>
            </ul>
        </div>
    </div>  

    <div class="rem-for-acidity" style="margin-top: 40px;">
        <h2 style="text-align: left;"> Here are some amazing home remedy which can help you with your back pain.</h2>

        <div class="prev-for-acidity">
            <h3 style="text-align: left; margin-top: 10px;">Limited bed rest</h3>
            <p class="chottu-info" style="font-size: 20px;">Once the mainstay of treatment for back pain, bed rest has fallen out of favor. Doctors now know it's better to keep moving, so that your muscles don't become stiff. Bed rest can still be useful relief from low back pain, particularly if your pain is so severe that it hurts to sit or stand. But try to limit it to a few hours at a time and for no more than one or two days.</p>
            
            <h3 style="text-align: left;">Use hot/cold treatment</h3>
            <p class="chottu-info" style="font-size: 20px;">Another effective method is hot and/or cold therapy. This remedy is easy to implement, and it’s also an inexpensive option.If you have sustained direct lower back pain from an injury such as a collision, a fall, or a sports injury, hot/cold therapy could be a solution.  If your ache is acute, you should apply cold and then heat. If the discomfort is chronic or sub-acute, mild heat should be applied continuously. If you are trying to lessen soreness after exercising, you should apply ice.</p>

            <h3 style="text-align: left;">Reduce your stress</h3>
            <p class="chottu-info" style="font-size: 20px;">Prolonged periods of high stress may harm various aspects of your health, including your back. Stress can affect the way that you breathe, and this may result in tension and straining of the back. In addition, it is not uncommon for people to become less active in times of stress. To reduce stress and decrease the chances of stress-related discomfort, consider making some gentle changes in your habits. Eating healthier foods can help to keep stress at bay, while making time to relax is also crucial. Spend quality time with yourself and your loved ones so your spirit remains strong when life is challenging. This may indirectly lead to a healthier back. </p>

            <h3 style="text-align: left;">Stretch more </h3>
            <p class="chottu-info" style="font-size: 20px;">You can do stretching exercises to reduce backaches. The yoga stretch known as “Child’s Pose” can be helpful in easing lower back issues, or a knee-to-chest stretch may also help. When you stretch the piriformis muscle in the buttock, you can reduce tightness in the buttock and lower back. Gently twisting your spine while seated may aid in increasing your mobility.</p>

            <h3 style="text-align: left;">Get better sleep</h3>
            <p class="chottu-info" style="font-size: 20px;">Getting enough rest is another important strategy for keeping you in good shape. If you aren’t sleeping in an optimal position, you may become sleep deprived. Poor sleep posture can also cause aches. Be sure that your spine remains in a neutral pose, and try to sleep on your back. If you have trouble sleeping unless you’re on your side, you should alternate sides periodically. Don’t position your pillow underneath your shoulders; instead, it should be placed beneath your neck and head. Getting the correct mattress is also critical. If your waist is narrower than your hips, opt for a relatively soft mattress. A more rigid mattress is appropriate if your waist and hips are close to the same width.</p>
        </div>
        <br>
        <h2>We hope it will help you. Please leave us a feedback, we will love to hear your experience.</h2>
    </div>  
    <footer style="padding-top: -0.5% ; padding-bottom: 2.5%;">
        <div class="container pt-5 border-bottom container-feedback">
          <div class="row">
            <div class="col-md-3 col-sm-12 mb-3 text-center" style="margin-left: 1%;padding-top: 1%;">
                <img class="logofooter" src="/img/LOGOFOOTER.png" alt="logo" style="width: 314px;;">
                <div class="row feedback" style="padding-left: 41%;padding-bottom: 2.5%; margin-top: -20%;">  
                  <a href="/feedback"><button type="button" class="btn btn-success" style="height: 50px;width: 100px;color: white;background-color: green;">Feedback</button></a>
              </div>
            </div>
            
            <div class="col-md-9 col-sm-12" style="display: inline-flex; padding-left: 30%; font-size: large;">
                
                <div class="col-md-3 col-sm-6 col-6 p-0 float-left mb-3"> 
                
                </div>
                
                <div class="col-md-3 col-sm-6 col-6 p-0 mb-3 float-left" style="margin-left: 30%; ">
                    <ul class="list-group" style="width:max-content;list-style-type: none;">
                        <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="/home" style="color: white;text-decoration: none;">Home</a></li>
                        <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="/home#hey" style="color: white;text-decoration: none;">FAQ</a></li>
                        <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="/home" style="color: white;text-decoration: none;">Contact Us</a></li>
      
                    </ul>
                </div>  
      
                <div class="col-md-3 col-sm-6 col-6 mb-3 p-0 float-left" style=" padding-left: 20%;">
                    <ul class="list-group"style="width:max-content;list-style-type: none;">
                        <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="/homeremedy" style="color: white;text-decoration: none;"></i>Home Remedies</a></li>
                        <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="/everyday" style="color: white;text-decoration: none;"></i>Yoga</a></li>
                        <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="/bodyfacts" style="color: white;text-decoration: none;"></i>Facts About Your Body</a></li>
                        <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="/asmr/main" style="color: white;text-decoration: none;"></i>ASMR</a></li>
                        <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="/covidtracker" style="color: white;text-decoration: none;"></i>COVID-19 Tracker</a></li>
                        <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="/Vaccination_Centre" style="color: white;text-decoration: none;"></i>Vaccination Centre</a></li>
                    </ul>
                </div>
      
                <div class="col-md-3 col-sm-6 col-6 mb-3 p-0 float-left" style=" padding-left: 20%">
                    <ul class="list-group" style="list-style-type: none; ">
                        <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                            <a href="https://www.linkedin.com/" style="color: white;text-decoration: none;"><i class="fa fa-linkedin mr-1"></i> LinkedIn</a>
                        </li>
                        <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                            <a href="https://twitter.com/" style="color: white;text-decoration: none;"><i class="fa fa-twitter mr-1"></i> Twitter</a>       
                        </li>
                        
                        <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                            <a href="https://plus.google.com/109511516185666043480" target="_blank" style="color: white;text-decoration: none;"><i class="fa fa-google-plus mr-1"></i> Google+</a>
                        
                        </li>
                        
                       
                        <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                            <a href="https://www.facebook.com/" target="_blank" style="color: white;text-decoration: none;"><i class="fa fa-facebook mr-1"></i> Facebook</a>
                        </li>
                       
                
                    </ul>
                </div>
      
            </div>
              <div class="col-md-12">
                
              </div>
      
        </div>
      </footer>
      

</body>
</html>
