<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style_home.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">  
    <title>Home Remedies</title>   
</head>

<body onload="startTime();" >

    <div class="topnav" >
        <img src="/img/LOGONEW.png" style="height: 70px;">
        <!--<a href="/logout"><button class="btn btn-danger" style=" float:right; margin-top: -1px; cursor: pointer; margin-right: 25px; background-color: rgb(24, 74, 121); color: cornsilk; border: none; outline: none; height:23px;">LOGOUT</button></a>-->
        <div class="dropdown">
            <button class="dropbtn" style="padding-right: 70px; padding-top: 28px;"><%= name %>
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href="/profile">Profile</a>
              <a href="/bmi">BMI</a>
              <a href="/delete">Delete Account</a>
              <a href="/logout  ">Logout</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn" style="padding-top: 28px;">FEATURES
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href="/asmr/main">ASMR</a>
              <a href="/bodyfacts">BODY FACTS</a>
              <a href="/Homeremedy">HOME REMEDY</a>
              <a href="/everyday">YOGA</a>
              <a href="/covidtracker">COVID-19 TRACKER</a>
              <a href="/Vaccination_centre">VACCINATION CENTRE</a>
            </div>
        </div>
        <a href="/special">DOCTOR</a>
        <a href="/predict">PREDICTION</a>
        <a href="/home">HOME</a>
      </div>

    
    <div class="heading">
        <div class="head-image" >
            <img src="/img/bag.jpg" id="img-head" height="680px" width="100%"></img>
        </div>    <!--  end of head-img divison-->

        <div class="title-heading">
             <h1>Home Remedies For You</h1>
        </div>  <!--  end of title-heading divison-->
        
        <div class="sub-title-heading">
            <h2>The best handpicken home remedies for you </h2>
        </div>     <!--  end of sub-title-heading divison-->
    
    </div>       <!--  end of heading divison-->

    <div class="topics">
        <p>Choose your remedy here.</p>
    </div>   <!--  end of topics divison-->

    <div class="img-grid">
        <div class="column" style="justify-content: flex-end;">
                <div class="box-image">
                    <div class="img-text">
                       <h1> <a href="#" id="link-rem" style="text-align: center; text-decoration: none;  color: cornflowerblue;">Acidity</a></h1>
                    </div>
                    <div class="img">
                         <a href="/homeremedy/acidity"> <img src="/img/acidity.jpg" width="300px" height="300px" > </a>
                </div>
                </div>
                <div class="box-image">
                    <div class="img-text">
                        <h1> <a href="#" id="link-rem" style="text-align: center; text-decoration: none ;  color:cornflowerblue;">Acne</a> </h1>
                    </div>
                    <div class="img">
                          <a href="/homeremedy/acne"> <img src="/img/acne.jpg" width="300px" height="300px" > </a>
                </div>
                </div>

                <div class="box-image">
                    <div class="img-text">
                        <h1><a href="#" id="link-rem" style="text-align: center; text-decoration: none;  color:cornflowerblue;">Back Pain</a></h1>
                    </div>
                    <div class="img">
                         <a href="/homeremedy/backpain"> <img src="/img/backpain.jfif" width="300px" height="300px" > </a>
                </div>
            </div>

                <div class="box-image">
                    <div class="img-text">
                        <h1><a href="#" id="link-rem" style="text-align: center; text-decoration: none;  color: cornflowerblue;">Blood Pressure</a></h1>
                    </div>
                    <div class="img">
                            <a href="/homeremedy/bp"> <img src="/img/bp.jpg" width="300px" height="300px" ></a>
                </div>
            </div>

                <div class="box-image">
                    <div class="img-text">
                        <h1><a href="" id="link-rem" style="text-align: center; text-decoration: none;  color:cornflowerblue;">Cough</a></h1>
                    </div>
                    <div class="img">
                         <a href="/homeremedy/cough">  <img src="/img/cough.jpg" width="300px" height="300px" ></a>
                </div>
                </div>
                <div class="box-image">
                    <div class="img-text">
                        <h1><a href="#" id="link-rem" style="text-align: center; text-decoration: none;  color:cornflowerblue;">Dandruff</a></h1>
                    </div>
                    <div class="img">
                         <a href="/homeremedy/dandruff">  <img src="/img/dandruff.jpg" width="300px" height="300px" ></a>
                </div>
            </div>

                <div class="box-image">
                    <div class="img-text">
                        <h1><a href="#" id="link-rem" style="text-align: center; text-decoration: none;  color:cornflowerblue;">Dark Circles</a></h1>
                    </div>
                    <div class="img">
                         <a href="/homeremedy/darkcircle">  <img src="/img/dark.jpg" width="300px" height="300px" ></a>
                    </div>
                </div>

                <div class="box-image">
                    <div class="img-text">
                        <h1><a href="#" id="link-rem" style="text-align: center; text-decoration: none;  color:cornflowerblue;">Diarrhea</a></h1>
                    </div>
                    <div class="img">
                        <a href="/homeremedy/diarrhea"><img src="/img/diarrhea.jpg" width="300px" height="300px"> </a>
                </div>
            </div>

                <div class="box-image">
                    <div class="img-text">
                        <h1><a href="#" id="link-rem" style="text-align: center; text-decoration: none;  color:cornflowerblue;">Headache</a></h1>
                    </div>
                    <div class="img">
                         <a href="/homeremedy/headache"><img src="/img/headache.jfif" width="300px" height="300px" ></a>
                </div>
            </div>

            <div class="box-image">
                <div class="img-text">
                    <h1><a href="#" id="link-rem" style="text-align: center; text-decoration: none;  color:cornflowerblue;">Healthy Skin</a></h1>
                </div>
                <div class="img">
                     <a href="/homeremedy/healthyskin"><img src="/img/ski.jpg" width="300px" height="300px" ></a>
            </div>
        </div>

            
            <div class="box-image">
                    <div class="img-text">
                        <h1><a href="#" id="link-rem" style="text-align: center; text-decoration: none;  color:cornflowerblue;">Nausea</a></h1>
                    </div>
                    <div class="img">
                        <a href="/homeremedy/nausea"> <img src="/img/nausea.jpg" width="300px" height="300px" > </a>
                </div>
            </div>

                <div class="box-image">
                    <div class="img-text">
                        <h1><a href="#" id="link-rem" style="text-align: center; text-decoration: none;  color:cornflowerblue;">Period Cramps</a></h1>
                    </div>
                    <div class="img">
                        <a href="/homeremedy/periodcramp"><img src="/img/pcramps.jpg" width="300px" height="300px"> </a>
                     </div>
                </div>

                
        </div>
    </div>     <!--  end of img-grid divison-->
    <footer style="padding-top: -0.5% ; padding-bottom: 2.5%;">
        <div class="container pt-5 border-bottom container-feedback">
          <div class="row">
            <div class="col-md-3 col-sm-12 mb-3 text-center" style="margin-left: 1%;padding-top: 1%;">
                <img class="logofooter" src="/img/LOGOFOOTER.png" alt="logo" style="width: 314px;;">
                <div class="row feedback" style="padding-left: 41%;padding-bottom: 2.5%; margin-top: -20%;">  
                  <a href="/feedback"><button type="button" class="btn btn-success" style="height: 50px;width: 100px;color: white;background-color: green;">Feedback</button></a>
              </div>
            </div>
            
            <div class="col-md-9 col-sm-12" style="display: inline-flex; padding-left: 30%; font-size: large;">
                
                <div class="col-md-3 col-sm-6 col-6 p-0 float-left mb-3"> 
                
                </div>
                
                <div class="col-md-3 col-sm-6 col-6 p-0 mb-3 float-left" style="margin-left: 30%; ">
                    <ul class="list-group" style="width:max-content;list-style-type: none;">
                        <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="/home" style="color: white;text-decoration: none;">Home</a></li>
                        <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="/home#hey" style="color: white;text-decoration: none;">FAQ</a></li>
                        <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="/home" style="color: white;text-decoration: none;">Contact Us</a></li>
      
                    </ul>
                </div>  
      
                <div class="col-md-3 col-sm-6 col-6 mb-3 p-0 float-left" style=" padding-left: 20%;">
                    <ul class="list-group"style="width:max-content;list-style-type: none;">
                        <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="/homeremedy" style="color: white;text-decoration: none;"></i>Home Remedies</a></li>
                        <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="/everyday" style="color: white;text-decoration: none;"></i>Yoga</a></li>
                        <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="/bodyfacts" style="color: white;text-decoration: none;"></i>Facts About Your Body</a></li>
                        <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="/asmr/main" style="color: white;text-decoration: none;"></i>ASMR</a></li>
                        <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="/covidtracker" style="color: white;text-decoration: none;"></i>COVID-19 Tracker</a></li>
                        <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="/Vaccination_Centre" style="color: white;text-decoration: none;"></i>Vaccination Centre</a></li>
                    </ul>
                </div>
      
                <div class="col-md-3 col-sm-6 col-6 mb-3 p-0 float-left" style=" padding-left: 20%">
                    <ul class="list-group" style="list-style-type: none; ">
                        <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                            <a href="https://www.linkedin.com/" style="color: white;text-decoration: none;"><i class="fa fa-linkedin mr-1"></i> LinkedIn</a>
                        </li>
                        <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                            <a href="https://twitter.com/" style="color: white;text-decoration: none;"><i class="fa fa-twitter mr-1"></i> Twitter</a>       
                        </li>
                        
                        <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                            <a href="https://plus.google.com/109511516185666043480" target="_blank" style="color: white;text-decoration: none;"><i class="fa fa-google-plus mr-1"></i> Google+</a>
                        
                        </li>
                        
                       
                        <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                            <a href="https://www.facebook.com/" target="_blank" style="color: white;text-decoration: none;"><i class="fa fa-facebook mr-1"></i> Facebook</a>
                        </li>
                       
                
                    </ul>
                </div>
      
            </div>
              <div class="col-md-12">
                
              </div>
      
        </div>
      </footer>
      
   <!--<script src="/js/rem.js"></script>--> 


</body>
</html>