<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BackPain</title>
    <link rel="stylesheet" href="/css/same.css" type="text/css">
</head>
<body>
    <div class="topnav" >
        <img src="/img/LOGONEW.png" style="height: 70px;">
        <!--<a href="/logout"><button class="btn btn-danger" style=" float:right; margin-top: -1px; cursor: pointer; margin-right: 25px; background-color: rgb(24, 74, 121); color: cornsilk; border: none; outline: none; height:23px;">LOGOUT</button></a>-->
        <div class="dropdown">
            <button class="dropbtn" style="padding-right: 70px; padding-top: 30px;"><%= name %>
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href="/profile">Profile</a>
              <a href="/bmi">BMI</a>
              <a href="/delete">Delete Account</a>
              <a href="/logout  ">Logout</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn" style="padding-top: 30px;">FEATURES
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href="/asmr/main">ASMR</a>
              <a href="/bodyfacts">BODY FACTS</a>
              <a href="/Homeremedy">HOME REMEDY</a>
              <a href="/everyday">YOGA</a>
              <a href="/covidtracker">COVID-19 TRACKER</a>
              <a href="/Vaccination_centre">VACCINATION CENTRE</a>
            </div>
        </div>
        <a href="/special">DOCTOR</a>
        <a href="/predict">PREDICTION</a>
        <a href="/home">HOME</a>
      </div>

    <div>
        <img style="object-fit: cover; width: 100%; height: 620px; padding-bottom: 20px;" src="/img/back.jpg" alt="">
    </div>

    <div>
        <div class="menu_a">
            <div class="menu"></div>
            <div class="menu"></div>
            <div class="menu"></div>
            <div class="content">
                <a href="/everyday">For Everyday</a>
                <a href="/yoga/backpain"> For Back pain</a>
                <a href="/yoga/kneepain"> For Knee Pain</a>
                <a href="/yoga/suryanamaskar">SuryaNamaskar</a>
                <a href="/yoga/stiffness">For stiff body</a>
            </div>
        </div>
        <h1 style="text-align: center; padding-bottom: 15px; color: cornsilk;"><b>YOGA FOR BACKACHE!</b></h1>
    </div>
    <div>
        <div class="here">
            <img src="/img/back1.gif" alt="">
            <div class="text">
                <h4 style="text-align: center; color: rgb(73, 131, 255); font-size: 20px;"><b>Adho Mukha Svanasana</b></h4>
                <p>
                    It works to strengthen the core and improve circulation. This rejuvenating pose works to provide a delicious, full-body stretch. Start off on all fours and make sure your knees are slightly behind your hips. Your hands should be shoulder-width apart and spread your fingers out wide. Press your hands into the mat and gently tuck your toes under and take a deep inhale, then keeping your hands pressed into the mat exhale deeply, lifting your knees off the floor and straightening your legs as much as you can. This traditional forward bend can be restful and rejuvenating. Practicing this pose can help relieve back pain and sciatica. It helps to work out imbalances in the body and improves strength. The pose may look very basic and easy but is deceptively challenging and complex.
                </p>
            </div>
        </div>
        <div class="here">
            <img src="/img/back2.gif" alt="">
            <div class="text">
                <h4 style="text-align: center; color: rgb(73, 131, 255); font-size: 20px;"><b>Shalabhasana</b></h4>
                <p>
                    Shalabhasana; the locust pose is a cultural asanas–for backward bending of the spine.In prone position, exhale and while inhaling raise both legs from the waist, keeping the legs together and knees straight. Point the toes and breathe normally. Keep both the legs straight and together at the knees. Chin on the ground. Palms pressing on the ground. Toes pointing backwards.This gentle backbend may help relieve lower back pain and fatigue. It strengthens the back torso, arms, and legs. It increases flexibility and strength of the entire back, strengthens shoulders and armsa and massages and tones abdominal organs, and improves digestion.This Asana resembles a locust or a grasshopper–a strong flier i.e. the instrument to move is strong. To build the same quality in the body, muscles related to locomotion are strengthened.
                </p>
            </div>
        </div>
        <div class="here">
            <img src="/img/back3.gif" alt="">
            <div class="text">
                <h4 style="text-align: center; color: rgb(73, 131, 255); font-size: 20px;"><b>Setu Bandha Sarvangasana</b></h4>
                <p>
                    Setu Bandha Sarvangasana, a beginning backbend that strengthens the legs and hips, massages the spine, and opens the heart.First, lie down as Shavasana or in a supine position.Your arms should be on the sides of your thighs.Now, fold your knees and clasp your ankle with your palms. With inhaling raise your back in a relaxed manner as possible as you can. You raise your back in such a way that the neck gets stretched and massaged.Maintain the pose initially for 30 seconds and gradually increases its duration. Bring your back down with a deep exhale and have a rest. Setu Bandha Sarvangasana is helpful in the management of thyroid, back pain, neck pain, problems related to the nervous system, etc. This asana also provides relief from migraines, headaches, insomnia and exhaustion.
                </p>
            </div>
        </div>
        <div class="here">
            <img src="/img/back4.gif" alt="">
            <div class="text">
                <h4 style="text-align: center; color: rgb(73, 131, 255); font-size: 20px;"><b>Balasana</b></h4>
                <p>
                    Balasana is a counter asana for many asanas and is performed preceding and following Sirsasana as it is a resting pose. It is one of the most effective poses for people with sleep-related issues. The calmness and stability provided by this asana translate into sleep very quickly. Begin by kneeling down on the floor. Make sure your big toes are touching each other.Exhale and lay your torso between your thighs. Feel that your tailbone is stretching away from the back of the pelvis as you slightly lift your head away from the back of the neck. Now gently extend your arms in front of you and stretch them out straight. Child’s Pose also stretches your hips, thighs, and ankles. The posture massages the abdominal organs, while also helping you relax and soothe your mind, therefore, providing you a good night’s sleep.
                </p>
            </div>
        </div>
    </div>
    <footer style="padding-top: -0.5% ; padding-bottom: 2.5%;">
        <div class="container pt-5 border-bottom container-feedback">
          <div class="row">
            <div class="col-md-3 col-sm-12 mb-3 text-center" style="margin-left: 1%;padding-top: 1%;">
                <img class="logofooter" src="/img/LOGOFOOTER.png" alt="logo" style="width: 314px;;">
                <div class="row feedback" style="padding-left: 41%;padding-bottom: 2.5%; margin-top: -20%;">  
                  <a href="/feedback"><button type="button" class="btn btn-success" style="height: 50px;width: 100px;color: white;background-color: green;">Feedback</button></a>
              </div>
            </div>
            
            <div class="col-md-9 col-sm-12" style="display: inline-flex; padding-left: 30%; font-size: large;">
                
                <div class="col-md-3 col-sm-6 col-6 p-0 float-left mb-3"> 
                
                </div>
                
                <div class="col-md-3 col-sm-6 col-6 p-0 mb-3 float-left" style="margin-left: 30%; ">
                    <ul class="list-group" style="width:max-content;list-style-type: none;">
                        <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="/home" style="color: white;text-decoration: none;">Home</a></li>
                        <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="/home#hey" style="color: white;text-decoration: none;">FAQ</a></li>
                        <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="/home" style="color: white;text-decoration: none;">Contact Us</a></li>
      
                    </ul>
                </div>  
      
                <div class="col-md-3 col-sm-6 col-6 mb-3 p-0 float-left" style=" padding-left: 20%;">
                    <ul class="list-group"style="width:max-content;list-style-type: none;">
                        <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="/homeremedy" style="color: white;text-decoration: none;"></i>Home Remedies</a></li>
                        <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="/everyday" style="color: white;text-decoration: none;"></i>Yoga</a></li>
                        <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="/bodyfacts" style="color: white;text-decoration: none;"></i>Facts About Your Body</a></li>
                        <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="/asmr/main" style="color: white;text-decoration: none;"></i>ASMR</a></li>
                        <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="/covidtracker" style="color: white;text-decoration: none;"></i>COVID-19 Tracker</a></li>
                        <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="/Vaccination_Centre" style="color: white;text-decoration: none;"></i>Vaccination Centre</a></li>
                    </ul>
                </div>
      
                <div class="col-md-3 col-sm-6 col-6 mb-3 p-0 float-left" style=" padding-left: 20%">
                    <ul class="list-group" style="list-style-type: none; ">
                        <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                            <a href="https://www.linkedin.com/" style="color: white;text-decoration: none;"><i class="fa fa-linkedin mr-1"></i> LinkedIn</a>
                        </li>
                        <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                            <a href="https://twitter.com/" style="color: white;text-decoration: none;"><i class="fa fa-twitter mr-1"></i> Twitter</a>       
                        </li>
                        
                        <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                            <a href="https://plus.google.com/109511516185666043480" target="_blank" style="color: white;text-decoration: none;"><i class="fa fa-google-plus mr-1"></i> Google+</a>
                        
                        </li>
                        
                       
                        <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                            <a href="https://www.facebook.com/" target="_blank" style="color: white;text-decoration: none;"><i class="fa fa-facebook mr-1"></i> Facebook</a>
                        </li>
                       
                
                    </ul>
                </div>
      
            </div>
              <div class="col-md-12">
                
              </div>
      
        </div>
      </footer>
      
      
</body>
</html>