<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Knee Pain</title>
    <link rel="stylesheet" href="/css/same.css" type="text/css">
</head>
<body>

    <div class="topnav" >
        <img src="/img/LOGONEW.png" style="height: 70px;">
        <!--<a href="/logout"><button class="btn btn-danger" style=" float:right; margin-top: -1px; cursor: pointer; margin-right: 25px; background-color: rgb(24, 74, 121); color: cornsilk; border: none; outline: none; height:23px;">LOGOUT</button></a>-->
        <div class="dropdown">
            <button class="dropbtn" style="padding-right: 70px; padding-top: 30px;"><%= name %>
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href="/profile">Profile</a>
              <a href="/bmi">BMI</a>
              <a href="/delete">Delete Account</a>
              <a href="/logout  ">Logout</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn" style="padding-top: 30px;">FEATURES
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href="/asmr/main">ASMR</a>
              <a href="/bodyfacts">BODY FACTS</a>
              <a href="/Homeremedy">HOME REMEDY</a>
              <a href="/everyday">YOGA</a>
              <a href="/covidtracker">COVID-19 TRACKER</a>
              <a href="/Vaccination_centre">VACCINATION CENTRE</a>
            </div>
        </div>
        <a href="/special">DOCTOR</a>
        <a href="/predict">PREDICTION</a>
        <a href="/home">HOME</a>
      </div>


    <div>
        <img style="object-fit: cover; width: 100%; height: 620px; padding-bottom: 20px;" src="/img/knee.jpg" alt="">
    </div>

    <div>
        <div class="menu_a">
            <div class="menu"></div>
            <div class="menu"></div>
            <div class="menu"></div>
            <div class="content">
                <a href="/everyday">For Everyday</a>
                <a href="/yoga/backpain"> For Back pain</a>
                <a href="/yoga/kneepain"> For Knee Pain</a>
                <a href="/yoga/suryanamaskar">SuryaNamaskar</a>
                <a href="/yoga/stiffness">For stiff body</a>
            </div>
        </div>
        <h1 style="text-align: center; padding-bottom: 15px; color: cornsilk;"><b>YOGA FOR KNEE</b></h1>
    </div>
    <div>
        <div class="here">
            <img src="/img/knee1.gif" alt="">
            <div class="text">
                <h4 style="text-align: center; color: rgba(190, 7, 145, 0.849); font-size: 20px;"><b>Utkatasana</b></h4>
                <p>
                    The literal meaning of Utkatasana is intense posture or powerful posture. The literal meaning of Utkatasana is intense posture or powerful posture.Stand straight on your mat and place your feet slightly apart. Stretch your arms forward, ensuring that your palms are facing downwards. Gently bend your knees and push down your pelvis, such that it seems like you are seated in an imaginary chair.Be aware as you hold the pose, and keep your spine lengthened. Calm your mind and relax. Smile. Now hold the pose for up to a minute. Gently go down and sit in Sukhasana. It will strengthen your thighs, helping to stabilize your knees. Your ankles will become more limber and sturdy, and your arms and shoulders will gain power and flexibility. It helps to balances the body and brings determination in the mind.
                </p>
            </div>
        </div>
        <div class="here">
            <img src="/img/knee2.gif" alt="">
            <div class="text">
                <h4 style="text-align: center; color: rgba(190, 7, 145, 0.849); font-size: 20px;"><b>Vrikshasana</b></h4>
                <p>
                    Vrikshasana is a close replica of the steady, yet graceful stance of a tree. For starters, stand completely straight, with your feet hip-width apart, facing forward. Then slowly bend your right knee and place the right foot on your left inner thigh. Make sure the raised foot is at a 90-degree angle to the floor, where the toes are pointing downwards and the heel is pointing up. Do not rotate or move your hips – they need to stay facing forward. Move the right knee out as much as you can while maintaining this posture. The Tree Pose Yoga is helpful for individuals experiencing postural disfigurements of spine, joint inflammation of joints of upper and lower furthest points, shortcoming of legs and shoulders and gentle happiness. The posture aims to keep your body and mind from wandering and stay balanced while being in the moment.
                </p>
            </div>
        </div>
        <div class="here">
            <img src="/img/knee3.gif" alt="">
            <div class="text">
                <h4 style="text-align: center; color: rgba(190, 7, 145, 0.849);"><b>Virabhadrasana</b></h4>
                <p>
                    Virabhadrasana  is an asana commemorating the exploits of a mythical warrior. It is a group of related lunging standing asanas in modern yoga as exercise. Stand straight with your legs hip-distance apart and arms on your sides. Now, spread your legs wide-apart. Turn your left feet out to face the left side of the mat. The other feet will turn inward to make a 45 Degree angle. Twist your body to left completely. Go forward on your left knee making a 90 Degree angle. Now go into a Namaste position, and taking our arms up above your head, look up, arch your back a bit and stretch. Hold for 10 seconds and repeat on the other side. It is great for the overall strengthening of the body. It strengthens thighs muscles, the largest muscle group in the body and therefore helps in increasing metabolism and calorie loss. Virabhadrasana is also known to strengthen stomach, intestines and liver.
                </p>
            </div>
        </div>
        <div class="here">
            <img src="/img/knee4.gif" alt="">
            <div class="text">
                <h4 style="text-align: center; color: rgba(190, 7, 145, 0.849);"><b>Virasana</b></h4>
                <p>
                    Virasana is a seated pose that is a great stretch for the quadriceps. Virasana is conducive to keeping your shoulders over your hips, which helps align the spine so that your back doesn't ache while you are sitting. Kneel on the floor with your hands rest on your knees. Bring your knees closer to each other. Slowly lower your hips so that you find yourself sitting on the mat. Press the tops of your feet on the floor.Your toes and feet should be on the ground and pointed outward. Initially hold the position for 30 seconds with normal breathing and gradually increase the time. This asana is a meditative pose, so it is best if you practice this pose in the morning. But you could do it in the evening as well. It stretches thighs, knees, ankles and feet. This asana acts like a digestive that not only improves the process but also relieves gas.
                </p>
            </div>
        </div>
    </div>
    <footer style="padding-top: -0.5% ; padding-bottom: 2.5%;">
        <div class="container pt-5 border-bottom container-feedback">
          <div class="row">
            <div class="col-md-3 col-sm-12 mb-3 text-center" style="margin-left: 1%;padding-top: 1%;">
                <img class="logofooter" src="/img/LOGOFOOTER.png" alt="logo" style="width: 314px;;">
                <div class="row feedback" style="padding-left: 41%;padding-bottom: 2.5%; margin-top: -20%;">  
                  <a href="/feedback"><button type="button" class="btn btn-success" style="height: 50px;width: 100px;color: white;background-color: green;">Feedback</button></a>
              </div>
            </div>
            
            <div class="col-md-9 col-sm-12" style="display: inline-flex; padding-left: 30%; font-size: large;">
                
                <div class="col-md-3 col-sm-6 col-6 p-0 float-left mb-3"> 
                
                </div>
                
                <div class="col-md-3 col-sm-6 col-6 p-0 mb-3 float-left" style="margin-left: 30%; ">
                    <ul class="list-group" style="width:max-content;list-style-type: none;">
                        <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="/home" style="color: white;text-decoration: none;">Home</a></li>
                        <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="/home#hey" style="color: white;text-decoration: none;">FAQ</a></li>
                        <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="/home" style="color: white;text-decoration: none;">Contact Us</a></li>
      
                    </ul>
                </div>  
      
                <div class="col-md-3 col-sm-6 col-6 mb-3 p-0 float-left" style=" padding-left: 20%;">
                    <ul class="list-group"style="width:max-content;list-style-type: none;">
                        <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="/homeremedy" style="color: white;text-decoration: none;"></i>Home Remedies</a></li>
                        <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="/everyday" style="color: white;text-decoration: none;"></i>Yoga</a></li>
                        <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="/bodyfacts" style="color: white;text-decoration: none;"></i>Facts About Your Body</a></li>
                        <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="/asmr/main" style="color: white;text-decoration: none;"></i>ASMR</a></li>
                        <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="/covidtracker" style="color: white;text-decoration: none;"></i>COVID-19 Tracker</a></li>
                        <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="/Vaccination_Centre" style="color: white;text-decoration: none;"></i>Vaccination Centre</a></li>
                    </ul>
                </div>
      
                <div class="col-md-3 col-sm-6 col-6 mb-3 p-0 float-left" style=" padding-left: 20%">
                    <ul class="list-group" style="list-style-type: none; ">
                        <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                            <a href="https://www.linkedin.com/" style="color: white;text-decoration: none;"><i class="fa fa-linkedin mr-1"></i> LinkedIn</a>
                        </li>
                        <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                            <a href="https://twitter.com/" style="color: white;text-decoration: none;"><i class="fa fa-twitter mr-1"></i> Twitter</a>       
                        </li>
                        
                        <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                            <a href="https://plus.google.com/109511516185666043480" target="_blank" style="color: white;text-decoration: none;"><i class="fa fa-google-plus mr-1"></i> Google+</a>
                        
                        </li>
                        
                       
                        <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                            <a href="https://www.facebook.com/" target="_blank" style="color: white;text-decoration: none;"><i class="fa fa-facebook mr-1"></i> Facebook</a>
                        </li>
                       
                
                    </ul>
                </div>
      
            </div>
              <div class="col-md-12">
                
              </div>
      
        </div>
      </footer>
      
</body>
</html>