<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stiffness</title>
    <link rel="stylesheet" href="/css/same.css" type="text/css">
</head>
<body>
    
    <div class="topnav" >
        <img src="/img/LOGONEW.png" style="height: 70px;">
        <!--<a href="/logout"><button class="btn btn-danger" style=" float:right; margin-top: -1px; cursor: pointer; margin-right: 25px; background-color: rgb(24, 74, 121); color: cornsilk; border: none; outline: none; height:23px;">LOGOUT</button></a>-->
        <div class="dropdown">
            <button class="dropbtn" style="padding-right: 70px; padding-top: 30px;"><%= name %>
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href="/profile">Profile</a>
              <a href="/bmi">BMI</a>
              <a href="/delete">Delete Account</a>
              <a href="/logout  ">Logout</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn" style="padding-top: 30px;">FEATURES
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href="/asmr/main">ASMR</a>
              <a href="/bodyfacts">BODY FACTS</a>
              <a href="/Homeremedy">HOME REMEDY</a>
              <a href="/everyday">YOGA</a>
              <a href="/covidtracker">COVID-19 TRACKER</a>
              <a href="/Vaccination_centre">VACCINATION CENTRE</a>
            </div>
        </div>
        <a href="/special">DOCTOR</a>
        <a href="/predict">PREDICTION</a>
        <a href="/home">HOME</a>
      </div>
    <div>
        <img style="object-fit: cover; width: 100%; height:620px; padding-bottom: 20px;" src="/img/stiff1.jpg" alt="">
    </div>

    <div>
        
    <div class="menu_a">
        <div class="menu"></div>
        <div class="menu"></div>
        <div class="menu"></div>
        <div class="content">
            <a href="/everyday">For Everyday</a>
            <a href="/yoga/backpain"> For Back pain</a>
            <a href="/yoga/kneepain"> For Knee Pain</a>
            <a href="/yoga/suryanamaskar">SuryaNamaskar</a>
            <a href="/yoga/stiffness">For stiff body</a>
        </div>
    </div>
        <h1 style="text-align: center; padding-bottom: 15px; color: cornsilk;"><b>OVERCOME STIFFINESS!</b></h1>
    </div>
    <div>
        <div class="here">
            <img src="/img/st1.gif" alt="">
            <div class="text">
                <h4 style="text-align: center; color: rgba(190, 7, 145, 0.849); font-size: 20px;"><b>Tadasana</b></h4>
                <p>
                    Tadasana is a foundational yoga pose for all standing poses. You will be using this pose often to prepare for other poses, but it also can be done by itself to help you improve your posture. It is suitable for all levels of yoga practitioners and is considered to be the foundation of all standing yoga postures. This pose requires the engagement of the entire body while relaxing the mind. Stand with your feet slightly apart and make sure that your weight is balanced equally on both feet. Inhale, raise your arms above your head, interlock your fingers with palms facing upwards. Raise your shoulders up towards your ears and on an exhale, roll your shoulders back and down your spine, opening your chest and straightening your posture. It improves your posture and body awareness, strengthens your legs, and establishes good alignment.
                </p>
            </div>
        </div>
        <div class="here">
            <img src="/img/st2.gif" alt="">
            <div class="text">
                <h4 style="text-align: center; color: rgba(190, 7, 145, 0.849); font-size: 20px;"><b>Trikonasana</b></h4>
                <p>
                    In Trikonasana your body takes the shape of an extended triangle, giving an intense stretch to your trunks and legs. This helps in stretching your muscles, limbs and arms. Trikonasana is a standing position and providing the deep stretch to the whole body parts. When you do this asana your entire body weight comes to rest on the calves of the bent legs, beside with the muscles of the hand that is resting on the floor, strengthening both of them in turn. Trikonasana improves the balance and concentration and also good for strengthening the core and legs. Triangle Pose strengthens the legs and stretches the groin, hamstrings, and hips, and opens the chest and shoulders. It also challenges and improves balance and stability. This asana tones the ligaments and improves flexibility, helps in losing fat from side of the body. 
                </p>
            </div>
        </div>
        <div class="here">
            <img src="/img/st3.gif" alt="">
            <div class="text">
                <h4 style="text-align: center; color: rgba(190, 7, 145, 0.849); font-size: 20px;"><b>Paschimottanasana</b></h4>
                <p>
                    Paschimottanasana is a classic pose from Hatha yoga. It gives the whole back of your body a good stretch, from your calves to the back of the thighs to your spine. Sit on the floor with your buttocks supported on a folded blanket and your legs straight in front of you. Draw the inner groins deep into the pelvis.  Inhale, and keeping the front torso long, lean forward from the hip joints, not the waist. With each inhalation, lift and lengthen the front torso just slightly; with each exhalation release a little more fully into the forward bend. This pose stretches these areas and helps open up your hips. It is said that this pose can help relieve stress and even improve your mood.It massages and tones the abdominal and pelvic organs, making it a simple yet effective yoga asana for burning unwanted fat and aiding weight loss.
                </p>
            </div>
        </div>
        <div class="here">
            <img src="/img/st4.gif" alt="">
            <div class="text">
                <h4 style="text-align: center; color: rgba(190, 7, 145, 0.849); font-size: 20px;"><b>Anjaneyasana</b></h4>
                <p>
                    Anjaneyasana stretches the thighs and groins and opens the chest. It provides recovery post-workout, and boosts energy while consciously working to improve posture. Begin the asana by coming into the Adho Mukha Svanasana. Gently lower the left knee, placing it on the floor, right behind your hips. Pull your tailbone towards the ground. Extend your lower back as you engage your spine. Stretch your arms further behind so that your heart is pushed up. To release the pose, place your hands back on the mat, and move into the Adho Mukha Svanasana. Inhale, and lift your torso. Anjaneyasana could be a complete package – it tones the body and calms the mind. You’re guaranteed to feel energized even when an intense low lunge exertion.
                </p>
            </div>
        </div>
    </div>
    <footer style="padding-top: -0.5% ; padding-bottom: 2.5%;">
        <div class="container pt-5 border-bottom container-feedback">
          <div class="row">
            <div class="col-md-3 col-sm-12 mb-3 text-center" style="margin-left: 1%;padding-top: 1%;">
                <img class="logofooter" src="/img/LOGOFOOTER.png" alt="logo" style="width: 314px;;">
                <div class="row feedback" style="padding-left: 41%;padding-bottom: 2.5%; margin-top: -20%;">  
                  <a href="/feedback"><button type="button" class="btn btn-success" style="height: 50px;width: 100px;color: white;background-color: green;">Feedback</button></a>
              </div>
            </div>
            
            <div class="col-md-9 col-sm-12" style="display: inline-flex; padding-left: 30%; font-size: large;">
                
                <div class="col-md-3 col-sm-6 col-6 p-0 float-left mb-3"> 
                
                </div>
                
                <div class="col-md-3 col-sm-6 col-6 p-0 mb-3 float-left" style="margin-left: 30%; ">
                    <ul class="list-group" style="width:max-content;list-style-type: none;">
                        <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="/home" style="color: white;text-decoration: none;">Home</a></li>
                        <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="/home#hey" style="color: white;text-decoration: none;">FAQ</a></li>
                        <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="/home" style="color: white;text-decoration: none;">Contact Us</a></li>
      
                    </ul>
                </div>  
      
                <div class="col-md-3 col-sm-6 col-6 mb-3 p-0 float-left" style=" padding-left: 20%;">
                    <ul class="list-group"style="width:max-content;list-style-type: none;">
                        <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="/homeremedy" style="color: white;text-decoration: none;"></i>Home Remedies</a></li>
                        <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="/everyday" style="color: white;text-decoration: none;"></i>Yoga</a></li>
                        <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="/bodyfacts" style="color: white;text-decoration: none;"></i>Facts About Your Body</a></li>
                        <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="/asmr/main" style="color: white;text-decoration: none;"></i>ASMR</a></li>
                        <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="/covidtracker" style="color: white;text-decoration: none;"></i>COVID-19 Tracker</a></li>
                        <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="/Vaccination_Centre" style="color: white;text-decoration: none;"></i>Vaccination Centre</a></li>
                    </ul>
                </div>
      
                <div class="col-md-3 col-sm-6 col-6 mb-3 p-0 float-left" style=" padding-left: 20%">
                    <ul class="list-group" style="list-style-type: none; ">
                        <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                            <a href="https://www.linkedin.com/" style="color: white;text-decoration: none;"><i class="fa fa-linkedin mr-1"></i> LinkedIn</a>
                        </li>
                        <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                            <a href="https://twitter.com/" style="color: white;text-decoration: none;"><i class="fa fa-twitter mr-1"></i> Twitter</a>       
                        </li>
                        
                        <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                            <a href="https://plus.google.com/109511516185666043480" target="_blank" style="color: white;text-decoration: none;"><i class="fa fa-google-plus mr-1"></i> Google+</a>
                        
                        </li>
                        
                       
                        <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                            <a href="https://www.facebook.com/" target="_blank" style="color: white;text-decoration: none;"><i class="fa fa-facebook mr-1"></i> Facebook</a>
                        </li>
                       
                
                    </ul>
                </div>
      
            </div>
              <div class="col-md-12">
                
              </div>
      
        </div>
      </footer>
      
</body>
</html>